#pageVisualizacoesLista article.listItem {
  flex: 20%;
  min-width: 150px;
}

#pageVisualizacoesLista article.listItem figure {
  margin: 0;
}

#pageVisualizacoesLista article.listItem figure img {
  width: 100%;
}

#pageVisualizacoesLista article.listItem p {
  margin-bottom: 0.2rem;
  font-size: var(--p-font-size);
}

#pageVisualizacoesLista article.listItem h2 {
  font-size: var(--h4-font-size);
  color: var(--primary-color-blue);
}

/* --- Mobile --- */

@media screen and (max-width: 768px) {
  #pageVisualizacoesLista article.listItem { }
}