#pageVisualizacoesLista article.listItem {
  gap: 2rem;
  flex-grow: 1;
  margin: 1.5rem;
  min-width: 180px;
  width: calc(25% - 3rem);
}

#pageVisualizacoesLista article.listItem figure {
  margin: 0;
}

#pageVisualizacoesLista article.listItem figure img {
  width: 100%;
}

#pageVisualizacoesLista article.listItem p {
  margin-bottom: 0.2rem;
  font-size: var(--p-font-size);
}

#pageVisualizacoesLista article.listItem h2 {
  font-size: var(--h4-font-size);
  color: var(--primary-color-blue);
}

/* --- Mobile --- */

@media screen and (max-width: 768px) {
  #pageVisualizacoesLista .container {  }
}