.banner {
    background: #7c0f17;
    background: linear-gradient(155deg, #AF1E30 0%, #226DAE 100%);
    
    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding: 5rem 2rem;
      background-image: url(./images/banner-bg.svg);
      background-position: 50% center;
      background-size: auto 91%;
      background-repeat: no-repeat;
      
      .info {
        width: 50%;
        color: #fff;

        >* {
          font-size: var(--h5-font-size);
          font-weight: 300;
        }
        >:first-child {
          margin-top: 0;
          font-size: var(--h2-font-size);
          font-weight: 400;
        }
        >:last-child {
          margin-bottom: 0;
        }
      }
    }
}

.highlight {
  padding: 3rem 2rem !important;

  h4, h3 {
    margin: 0;
    color: var(--primary-color-blue);
  }

  &:nth-of-type(3) {
    background-color: #f7f7f7;
  }

}

.visualizations {
  outline: 1px solid red;
}

.quality {
  outline: 1px solid green;
}

.publications {
  outline: 1px solid blue;
}



// Small screens
@media screen and (max-width: 768px){
  .banner .container {
    background: none;
  }
  .banner .container .info {
    width: 100%;
  }
}
