@import-normalize;

@import url(colors.scss);
@import url(layout.scss);
@import url(typograph.scss);

body {
  margin: 0;
  font-family: 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

p {
  line-height: 140%;
}

a {
  color: var(--primary-color-blue);
}

// Mobile first
html {
  font-size: 3.5vmin;
}

// Medium screens
@media (min-width: 768px) {
// @media (min-width: 768px), (min-height: 400px) {
  html {
    font-size: 100%;
  }
}

// Large screens
@media (min-width: 1400px) {
// @media (min-width: 1400px), (min-height: 800px) {
  html {
    font-size: 115%;
  }
}
