$h1-font-size: 200%;
$h2-font-size: 200%;
$h3-font-size: 200%;
$h4-font-size: 140%;
$h5-font-size: 140%;
$p-font-size: 110%;
$small-font-size: 95%;

:root {
  --h1-font-size: #{$h1-font-size};
  --h2-font-size: #{$h2-font-size};
  --h3-font-size: #{$h3-font-size};
  --h4-font-size: #{$h4-font-size};
  --h5-font-size: #{$h5-font-size};
  --p-font-size: #{$p-font-size};
  --small-font-size: #{$small-font-size};
}

h1 {
  font-size: $h1-font-size;
  font-weight: 700;
}
h2 {
  font-size: $h2-font-size;
  font-weight: 400;
}
h3 {
  font-size: $h3-font-size;
  font-weight: 300;
}
h4 {
  font-size: $h4-font-size;
  font-weight: 400;
}
h5 {
  font-size: $h5-font-size;
  font-weight: 300;
}
li,
a,
button,
span,
p {
  font-size: $p-font-size;
  font-weight: 400;
}
small {
  font-size: $small-font-size;
  font-weight: 300;
}
strong {
  font-weight: 500;
}

// TODO: add vars to root for below refs
//  title, subtitle, pargraph, small,
//  light, regular, bold.
