.navigation {
  outline: 1px solid green;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 1rem 0.7rem;
    }
  }
}
