.navigation {
  background: #7c0f17;
  background: linear-gradient(90deg, rgba(141, 21, 32, 1) 0%, rgba(90, 50, 79, 1) 100%);

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;

    li {
      a {
        display: block;
        padding: 20px 2vw;
        font-size: inherit;
        color: #fff;
        text-decoration: none;
        border-style: solid;
        border-color: transparent;
        border-width: 4px 0;
      }
      
      a.active {
        font-weight: bold;
        border-bottom-color: var(--primary-color-yellow);
      }
    }
  }
}
