.header {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.projectBrand {
  width: 12rem;

  img {
    width: 100%;
    height: auto;
  }

  h1 {
    margin: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}

.projectSupport {
  width: 9rem;

  img {
    width: 100%;
    height: auto;
  }
}

// TODO: media query for big screens
// TODO: add mobile menu and logos in left with division
